node_modules
.next
out
build
dist
coverage
.env*
!.env.example
*.tsbuildinfo
next-env.d.ts
.preview/
.DS_Store
.npm/
.nuxt/
.turbo/
.vite/
__pycache__/
.pytest_cache/
.ruff_cache/
mypy_cache/
.vercel/
drizzle/
*.log
